<ion-header translucent>
    <ion-toolbar color="vibrant">
       <ion-title>Предмет</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="content">
    <div class="subject-img">
        <img src="assets/subject.jpg" alt="">
    </div>
    <h4>Математический анализ</h4>
    <p>
        Программа курса <br>
           1. Обзор <br>
           2. Материалы модуля <br>
           3. Линейное (векторное) пространство <br>
           4. Существование решений систем линейных уравнений <br>
           5. Решение систем линейных алгебраических уравнений
    </p>
    <h1>
        Преподаватель
    </h1>
    <p><b>Асель Ибраева</b></p>
    <div class="teach-photo">
        <img src="assets/123.jpg" alt="">
    </div>

    <table style="width:80%">
        <tr>
            <th>Дни</th>
            <th>Время</th>
            <th>Тема</th>
        </tr>
        <tr>
            <td>Понедельник</td>
            <td>9:00</td>
            <td>Основы математического анализа</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>14:00</td>
            <td>Что такое модули?</td>
        </tr>
        <tr>
            <td>Пятница</td>
            <td>11:00</td>
            <td>Интегралы</td>
        </tr>
    </table>
</ion-content>


