.main-logo {
  margin-top: 20px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  :disabled {
    color: #dbdbdb;
  }
  button {
    padding: 15px 40px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: green;
    color: white;
    font-weight: 600;
  }

}

.hydrated {
  text-align: center !important;
}
