<ion-content padding>
    <div>
        <img src="assets/logo.jfif" alt="">
    </div>

    <ion-list>
        <ion-item>
            <ion-label floating>Логин</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Пароль</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <div class="login-btn">
        <button ion-button [disabled]="password === ''" (click)="signIn()">Войти</button>
    </div>

</ion-content>
