<ion-header translucent>
    <ion-toolbar color="vibrant">
        <ion-title>Про университет</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="content">
    <div class="subject-img">
        <img src="assets/uni.jpg" alt="">
    </div>
    <h4>ЗАПАДНО-КАЗАХСТАНСКИЙ АГРАРНО-ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</h4>
    <p>
        На сегодня ЗКАТУ им. Жангир хана - один из крупнейших в стране и единственный в регионе государственный многопрофильный научно-образовательный центр, призванный выполнять свою интеллектуальную
        миссию движущей силы устойчивого развития инновационной экономики Западного Казахстана, обеспечивая его потребности кадровыми и научными ресурсами новой генерации. Приоритетным направлением является
        академическая мобильность. Университетом заключены 21 соглашение с зарубежными вузами-партнерами и с 26 вузами Республики Казахстан с целью совместного развития академической мобильности.
        Функционирует 5 факультетов и 20 кафедры, 16 из которых являются выпускающими.
    </p>
    <p>

         Направления подготовки:  <br>
        <b>
         Сельскохозяйственные науки <br>
         Технические науки и технологии <br>
         Экономика и бизнес <br>
         Ветеринария <br>
         Науки образования и т.д. <br>
        </b>
    </p>
    <h1>Преподаватели:</h1>
    <p><b>Асель Ибраева</b></p>
    <div class="teach-photo">
        <img src="assets/123.jpg" alt="">
    </div>

    <div>
        <p><b>Предмет: Математический анализ</b></p>
    </div>
    <br> <br>
    <p><b>Виктор Анатольевич</b></p>
    <div class="teach-photo">
        <img src="assets/ttt.jpg" alt="">
    </div>

    <div>
        <p><b>Предмет: Линейная алгебра</b></p>
    </div>
</ion-content>


