<ion-header translucent>
    <ion-toolbar color="vibrant">
        <ion-title>Создание пользователя</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="content" [fullscreen]="true" class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label>Логин</ion-label>
            <ion-input type="text" [(ngModel)]="toSave.login"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Пароль</ion-label>
            <ion-input type="password" [(ngModel)]="toSave.password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Имя</ion-label>
            <ion-textarea [(ngModel)]="toSave.name"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Телефон</ion-label>
            <ion-textarea [(ngModel)]="toSave.phone"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Почта</ion-label>
            <ion-textarea [(ngModel)]="toSave.email"></ion-textarea>
        </ion-item>
    </ion-list>
    <div class="btn-add-add-user">
        <ion-button ion-button block (click)="add(toSave)">Добавить</ion-button>
    </div>

</ion-content>
