.bus-info {
  display: flex;
  flex-direction: row;

  h3 {
    margin-right: 5px;
  }

  p {
    font-weight: bold;
  }

  .status-busy {
    color: #d63333;;
  }

  .status-free {
    color: #429242;
  }

}


.refresh-icon {
  img {
    width: 21px;
    position: absolute;
    right: 14px;
    top: 13px;
    z-index: 10;
  }
}

.list-md {
  background: none !important;
}

.hydrated {
  text-align: center !important;
}

