<ion-header translucent>
    <ion-toolbar color="vibrant">
        <ion-title>Расписание</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="content">
    <div class="container py-7">
    <!-- Days -->
    <div class="row">
        <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                Понедельник 01.12.2021
            </h4>
            <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 10:00</span> - Социология</p>
                </li>
                <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;"> <strong>Сейчас</strong></span></p>

                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:00 - 11:00</span> - Английский язык</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:00 - 12:00</span> - Линейная алгебра</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:00 - 15:00</span> - История Казахстана</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 mb-3" id="Saturday, Nov 14th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                Вторник, 02.12.2021
            </h4>
            <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:00 - 12:00</span> - Математический анализ</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - Алгоритмизация</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 - 14:00</span> - С++ </p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:00 - 15:00</span> - Дискретная математика</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                Среда, 03.12.2021
            </h4>
            <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">9:00 - 10:00</span> - Схемотехника</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:00 - 11:00</span> - Статистика</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - WEB разработка </p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:00 - 15:00</span> - Java EE</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                Четверг, 04.12.2021
            </h4>
            <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - Python</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:00 - 15:00</span> - Английский язык</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 - 16:00</span> - C++ </p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 - 17:00</span> - Линейная алгебра</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</ion-content>
